<h1>Sign Up</h1>

<form action="/users/create" method="POST">
<input type="text" name="name" placeholder="Your name" required> <br>
<input type="email" name="email" placeholder="Your email" required> <br>
<input type="password" name="password" placeholder="password" required><br>
<input type="password" name="Confirm password" placeholder="Confirm password" required> <br>
<input type="submit" value="Sign Up">


</form>